<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} {% endblock%}
        </title>
    </head>
    <body>
        {% block content%}
        <h1>Homework 2 Routes</h1>
        <ul>
            <li><a href="/froyo">Froyo</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/secret_message">Secret Message</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/horoscope">Horoscope</a></li>
        </ul>
        {% endblock %}
    </body>
</html>